body{
    background-image: linear-gradient(to right, #b5179e, #560bad, #3a0ca3);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Luau;
    src: url(Fonte/King\ Luau.ttf);
}

h1{
    font-family: Luau;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: rgb(240, 237, 237) 1px 0 10px;
}

.container{
    border: #5271ff solid 10px;
    border-radius: 2rem;
    margin-left: 37%;
    margin-right: 37%;
}

.tela{
    color: white;
    background-image: linear-gradient(180deg, #0c4da3, #4373ee, #80c0d4);
    border-radius: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.tela p{
    font-family: Luau;
    text-align: right;
    font-size: 3rem;
    margin-right: 1.5rem;
}

.organization{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-row-gap: 1rem;

    justify-items: center;
    align-items: center;
}

.imagem{
    background-image: linear-gradient(180deg, #0c4da3, #4373ee, #80c0d4);
    padding: 1rem;
    border-radius: 2rem;
}

.c{
    background-color: #3f37c9;
    padding: 1rem;
    border-radius: 2rem;
}

.igual{
    background-color: #3f37c9;
    padding: 1rem;
    border-radius: 2rem;
}

.number{
    background-image: linear-gradient(180deg, #0c4da3, #4373ee, #80c0d4);
    padding: 1rem;
    border-radius: 2rem;
    color: white;

    height: 68px;
    width: 64px;
}

.number p{
    text-align: center;
}